body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  #gameCanvas {
    width: 90vh;
    height: 90vh;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
  
  }
  
  .snake {
    width: 20px;
    height: 20px;
    background-color: black;
    position: absolute;
    border:2px solid white;
    border-radius: 5px;
  }
  
  .food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border: 2px solid white;
  }
  
  .scoreboard {
    background-color:rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
    border-bottom: none;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }


  #startButton {
    background-color:rgba(0, 0, 0, 1);
    padding: 20px;
    margin-top: 0px;
    border-radius: 10px;
    border: 2px solid black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    display: block;
    touch-action: manipulation;
    position:absolute;
    z-index: 1;
    font-size: 40px;
    display: block;
  }

  #startButton:hover {
    cursor:pointer;
  }

  #startButton:active{
    border-color: white;
  }

  .controls {
    display: none;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    touch-action: manipulation; /*Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom.*/

    display: none;
    grid-template-columns: repeat(3, 1fr); /* Creates a grid with 3 columns */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px; /* Adds some space between grid items */
  }



  .controls button {
    background-color:rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: 2px solid black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.75vw;
    padding: 3.75vw 4.5vw ;
    text-align: center;
  }

  @media only screen and (hover: none) {
    .scoreboard {
      font-size: 3vw;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
    }

    #gameCanvas {
      width: 100vw;
      height: 100vw; /* Optionally set height to maintain aspect ratio */
      max-width: 100%; /* Ensure it doesn't overflow its container */
    }

    .controls {
      display: grid;
    }

    #startButton {
      font-size:5vw;
      margin-top: -400px;
    }
  }

  #upButton {
    grid-column: 2; 
    grid-row: 1; 
    transform: rotate(-90deg);
    
  }

  #downButton {
    grid-column: 2; 
    grid-row: 3;
    transform: rotate(90deg); 
  }

  #leftButton{
    grid-column: 1; 
    grid-row: 2; 
    transform: rotate(180deg); 
  }

  #rightButton {
    grid-column: 3; 
    grid-row: 2; 
  }
