body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  #gameCanvas {
    width: 600px;
    height: 600px;
    border: 2px solid #333;
    position: relative;
    background-image: url('./roads-logo.svg');
  }
  
  .snake {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
    border:2px solid white;
  }
  
  .food {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border: 2px solid white;
  }
  